{% extends 'base.html' %}
{% block content %}
{{block.super}}

<h1>welcome to Gallaryx</h1>
    <p>Get various photo categories</p>

    <h2>Example categories</h2>

    <ul>
        <li>fashion</li> <button>click to view</button>
        <li>Romantic events</li><button>click to view</button>
        <li>Nature outdoor activities</li><button>click to view</button>
        <li>sporty activities </li><button>click to view</button>
        <li>pet animals</li> <button>click to view</button>
        <li>meals</li><button>click to view</button>
    </ul>
    {% endblock %}